# Ignore model files
models/
weights/

# Ignore specific file types
*.h5
*.pt
*.bin
*.ckpt

# Ignore large data files
*.zip
*.tar.gz

# Ignore images in user_dataset folder
user_dataset/*.jpg
user_dataset/*.jpeg
user_dataset/*.png
