<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Face Recognition System</h1>
        <button class="open-btn" onclick="window.location.href='/open_door'">Open Door</button>
        <button class="admin-btn" onclick="window.location.href='/admin_panel'">Admin Panel</button>
        <button class="about-btn" onclick="window.location.href='/about'">About</button>
        <button class="exit-btn" onclick="window.location.href='/exit'">Close Application</button>
    </div>
</body>
</html>
